*{
    margin: 0%;
    padding: 0%;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    color: black;
}

header{
    padding: 2vh 0vh 0vh 0vh;
    width: 100vw;
    height: 15vh;
    /*background-color: salmon;*/
}

.title-recu-pass{
    text-align: center;
    font-size: 45px;
}

/*-------------------------------------------------*/
main{
    width: 100vw;
    height: 70vh;
    /*background-color: aqua;*/
}

.container-recu-pass{
    width: 100%;
    height: 100%;
}

.container-campos-usu{
    width: 100%;
    height: 70%;
    position:relative;
}

.eti-label-1,
.eti-label-2,
.eti-label-3{
    position: absolute;
    font-size: 25px;
}

.eti-label-1{
    top: 20%;
    left: 15%;
}

.eti-label-2{
    top: 20%;
    right: 15%;
}

.eti-label-3{
    top: 60%;
    left: 46%;
}

#campos-usu-recu-pass{
    width: 35%;
    height: 15%;
    position: absolute;
    font-size: 25px;
    text-align: center;
    border: 0px;
    background-color: #99ffc4;
}

.campo-1{
    top: 30%;
    left: 10%;
}

.campo-2{
    top: 30%;
    right: 10%;
}

.campo-3{
    top: 70%;
    left: 33%;
}

.container-btn{
    width: 100%;
    height: 30%;
    position:relative;
}

.btn-recu-pass-usu{
    width: 15%;
    height: 40%;
    position: absolute;
    top: 27%;
    left: 43%;
    font-size: 23px;
    background-color: slategray;
}

.btn-recu-pass-usu > a{
    color: white;
}
/*-------------------------------------------------*/
footer{
    width: 100vw;
    height: 15vh;
    display: flex;
    /*background-color: chartreuse;*/
}

.container-copy{
    width: 70%;
    height: 100%;
    /*background-color: crimson;*/
}

.paragraph-copy{
    padding: 5vh 17vh 0vh 0vh;
    text-align: end;
    font-size: 25px;
}

.container-img-u{
    padding: 2vh 0vh 0vh 0vh;
    width: 30%;
    height: 100%;
    text-align: center;
    /*background-color: sienna;*/
}

.dim-img{
    width: 80px;
    height: 80px;
}